<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')%>

<body>
    <%- include('./partials/header')%>


    <main>


        <div class="contenedor-formulario2">
            <div class="formulario-admin">

                <a class="botones-product" href="/product/crear">Crear</a>
                <a class="botones-product" href="/product/edit">Modificar</a>
            </div>

        </div>

        <ul class="errores"></ul>

        <% if (locals.errors) {%>
            <% errors.forEach(error=> { %>
                <p>
                    <%= error.msg %>
                </p>
                <% })} %>

        <div class="contenedor-crear">
            <div class="division">
            <h1>Crear</h1>
            </div>
            <div class="division">
            <p>Crea nuevos productos</p>
            </div>

            <form action="/product" method="post" class="login" enctype="multipart/form-data">
                <div class="division">
                     <label for="teamName">teamName</label>
                     <input type="text" id="teamName" name="teamName" placeholder="Nombre teamName">
                 </div>

                 <div class="division">
                     <label for="descripcion">Descripción del jugador</label>
                     <textarea name="descripcion" id="descripcion" cols="36" rows="4"
                         placeholder="Escribe la descripción del jugador"></textarea>

                 </div>

                 <div class="division">
                     <label for="imagen">Selecciona imagen del producto</label>
                     <input type="file" id="imagen" name="imagen" placeholder="Archivo">
                 </div>

                 <div class="division">
                     <label for="size">Talle camiseta:</label>
                     <select name="size" id="size">
                         <option value="">Elegí</option>
                         <option value="Small">Small</option>
                         <option value="Medium">Medium</option>
                         <option value="Large">Large</option>
                     </select>
                 </div>


                 <div class="division">                    
                     <label for="jugador">Jugador</label>
                     <input type="text" id="jugador" name="jugador" placeholder="jugador">
                 </div>

                 <div class="division">
                     <label for="price">Precio del producto</label>
                     <input type="text" id="price" name="price" placeholder="Precio del producto">
                 </div>

                 <div class="division">
                    <label for="grupo">Seleccionar grupo:</label>
                    <select name="grupo" id="grupo">
                        <option value="">Elegí</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        
                    </select>
                </div>

                 <div class="division">
                     <button class="botones-crear" type="submit">Crear</button>
                     <button class="botones-crear" type="reset">Descartar</button>
                 </div>


             </form>
        </div>

    </main>

    <%- include('./partials/footer')%>
    
    <script src="/js/crearAddValidation.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>