<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head')%>

  <body>

    <%- include('./partials/header')%>

    <main>
      <section class="contenido">
        <div class="contenedor-contenido">


          <ul class="errores"></ul>

          
          <% if (locals.errors) {%>
            <% errors.forEach(error=> { %>
                <p>
                    <%= error.msg %>
                </p>
                <% })} %>


          <h1>LOGIN</h1>
          <p>Accede a tu cuenta</p>
          <form action="/users" method="POST" class="login">
            <input type="email" id="email" name="email" placeholder="EMAIL" />
            <input
              type="password"
              id="contraseña"
              name="password"
              placeholder="CONTRASEÑA"
            />
            <input type="checkbox" name="recordame" id="recordame">
            <label for="recordame">Recordar</label>

            <a href="/users/register" class="ir-a">¿No tienes cuenta? Regístrate</a>

            <div class="boton_ingresar"><button type="submit">Ingresar</button></div>
          </form>
        </div>
      </section>
    </main>

    <%- include('./partials/footer')%>

    <script src="/js/logAddValidation.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
  </body>
</html>