<!DOCTYPE html>
<html lang="en">
    <footer class="footer">
        <div class="logo-box">
          <a href="/"><img class="footer-logo" src="/img/goat.png" /></a>
        </div>
        <div class="sitemap">
          <ul class="footer-list">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/users/log">LOGIN</a></li>
          </ul>
        </div>
        <div class="social-media">
          <a href="http://instagram.com"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="http://facebook.com"><i class="fa-brands fa-facebook"></i></a>
          <a href="http://whatsapp.com"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <div class="sign">GOAT project - Digitalhouse - TN44/Grupo 2</div>
      </footer>
</html>